//// jQuery
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
// Scrolling Nav JavaScript
script(src='js/jquery.easing.min.js')    
script(src='js/scrolling-nav.js')