head
  title ohmage | open participatory sensing
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(name='description', content='')
  meta(name='keywords', content='')
  //if lte IE 8
    script(src='assets/css/ie/html5shiv.js')
  script(src='assets/js/jquery.min.js')
  script(src='assets/js/jquery.scrolly.min.js')
  script(src='assets/js/skel.min.js')
  script(src='assets/js/init.js')
  link(rel='stylesheet', href='assets/css/skel.css')
  link(rel='stylesheet', href='assets/css/style.css')
  link(rel='stylesheet', href='assets/css/style-wide.css')
  //if lte IE 8
    link(rel='stylesheet', href='assets/css/ie/v8.css')
  //if lte IE 9
    link(rel='stylesheet', href='assets/css/ie/v9.css')