// Navigation
nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation               
        span.icon-bar                
        span.icon-bar   
        span.icon-bar
      a.navbar-brand.page-scroll(href='#page-top') ohmage
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        // Hidden li included to remove active class from about link when scrolled up past about section
        li.hidden
          a.page-scroll(href='#page-top')               
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Overview
          ul.dropdown-menu(role="menu")
            li
              a.page-scroll(href='#questions') Create Survey
            li
              a.page-scroll(href='#participants') Get Participants
            li
              a.page-scroll(href='#collect') Collect Data
            li
              a.page-scroll(href='#data') Visualize Data
        li
          a(href="/research.html") Research
        li
          a(href="/admin.html") Self-Host


      ul.nav.navbar-nav.navbar-right
        li
          a.page-scroll(href="#started") Create account
        li
          a.page-scroll(href='#contact') Contact Us
    // /.navbar-collapse
  // /.container