nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      button(type="button", class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href="#") ohmage
    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="index.html") Coordinate
        li
          a(href="admin.html") For admins
        li
          a(href="research.html") Existing research
        li
          a(href="developers.html") For developers
        li
          a(href="about.html") About Us/Contact