// Navigation
nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation               
        span.icon-bar                
        span.icon-bar   
        span.icon-bar
      a.navbar-brand.page-scroll(href='index.html' data-target="#page-top") ohmage
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        // Hidden li included to remove active class from about link when scrolled up past about section
        li.hidden
          a.page-scroll(href='#page-top')               
        li.dropdown
          a(href="index.html" role="button" aria-expanded="false") Overview
          ul.dropdown-menu(role="menu")
            li
              a.page-scroll(href='index.html#questions' data-target='#questions') Create Survey
            li
              a.page-scroll(href='index.html#participants' data-target='#participants') Get Participants
            li
              a.page-scroll(href='index.html#collect' data-target='#collect') Collect Data
            li
              a.page-scroll(href='index.html#data' data-target='#data') Visualize Data
        li.dropdown
          a(href="research.html" role="button" aria-expanded="false") Research
          ul.dropdown-menu(role="menu")
            li
              a.page-scroll(href='research.html#studies' data-target='#studies') Studies
            li
              a.page-scroll(href='research.html#publications' data-target='#publications') Publications
        li.dropdown
          a(href="dev.html#dev" data-target="#dev" role="button" aria-expanded="false") Develop
          ul.dropdown-menu(role="menu")
            li.hidden
              a(href="#dev")
            li
              a.page-scroll(href='dev.html#api' data-target='#api') API Docs
            li
              a.page-scroll(href='dev.html#components' data-target='#components') Components
        li.dropdown
          a(href="admin.html#admin" data-target="#admin" role="button" aria-expanded="false") Admin
          ul.dropdown-menu(role="menu")
            li.hidden
              a(href="#admin")
            li
              a.page-scroll(href='admin.html#vagrant' data-target='#vagrant') Vagrant
            li
              a.page-scroll(href='admin.html#apt' data-target='#apt') apt-get
            li
              a.page-scroll(href='admin.html#chef' data-target='#chef') Chef (beta)
            li
              a.page-scroll(href='admin.html#instructions' data-target='#instructions') manual
        li
          a.page-scroll(href='index.html#about' data-target='#about') About Us


      ul.nav.navbar-nav.navbar-right
        li
           p.navbar-btn
            a.page-scroll.btn.btn-primary(href="index.html#started" data-target='#started') Create account

    // /.navbar-collapse
  // /.container