doctype html(lang='en')
head
include ./includes/head.jade
include ./mixins/list.jade
include ./mixins/components.jade

body#page-top2(data-spy='scroll', data-target='.navbar-fixed-top')
  include ./includes/navbar.jade

  // Develop Section
  section#develop.overview-section
    .container
      .row
        .col-lg-12
          h1 Develop
      .row
        .col-lg-12
          p.lead
            | The entire ohmage platform is open source, so we'd love to have your
            | help extending the project to better fit your purposes! Beyond just
            | extending the core platform, ohmage also has a clearly defined set
            | of APIs that you can use to develop your own frontend visualization
            | tools! Take a look at the existing projects below, our API doc sheet
            | (or just head straight to our 
            a(target="_blank" href="https://github.com/ohmage/") github organization
            | ) and take a look at some code!

  //  Docs Section
  section#api.overview-section
    .container
      .row
        .col-lg-12
          h1 API Documentation
      .row
        .col-lg-12
          p.lead
            | The documentation for our 2.x server APIs can be found on our github wiki.
          br
          a(target="_blank" href="https://github.com/ohmage/server/wiki/APIs-for-2.x-Top-Level-Entities")
           button(type="button" class="btn btn-primary btn-lg") Head to the docs!

  //  Components Section
  section#components.overview-section
    .container
      .row
        .col-lg-12
          h1 Components
          br
      .row
        .col-lg-12
         +components("components.json")


include ./includes/foot.jade