doctype html(lang='en')
head
include ./includes/head.jade

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  include ./includes/navbar.jade

  // Intro Section
  section#intro.intro-section
    .container
      .row
        .col-lg-12
          h1 ohmage
      .row
        .col-lg-12
          img(src="/img/large-logo.png" height="200px")
      .row
        .col-lg-12 
          br                
          p.lead an open data collection platform.
          br
      .row
        .col-md-3.col-xs-6
          a.page-scroll(href="#questions" data-target="#questions")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-pencil.fa-stack-1x.green
          h4.text-center create questions
        .col-md-3.col-xs-6
          a.page-scroll(href="#participants" data-target="#participants")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-group.fa-stack-1x.blue
          h4.text-center get participants
        .col-md-3.col-xs-6
          a.page-scroll(href="#collect" data-target="#collect")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-mobile.fa-stack-1x.orange
          h4.text-center collect data
        .col-md-3.col-xs-6
          a.page-scroll(href="#data" data-target="#data")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-bar-chart.fa-stack-1x.red
          h4.text-center visualize/analyze data

  // Questions Section
  section#questions.overview-section
    .container
      .row
        .col-lg-12
          h1 Create Questions
      .row
        .col-lg-12
          p.lead
           | Quickly create sets of surveys to ask your participants. The ohmage platform was built for mobile collection 
           | so it supports simple responses as well as responses with images, video and audio.  Surveys can even be completed 
           | while your participants are offline and uploaded later!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#questions-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/author01_imac2013_front.png")  


  // Participants Section
  section#participants.overview-section
    .container
      .row
        .col-lg-12
          h1 Define a Participant group
      .row
        .col-lg-12
          p.lead
           | Use our provided tool to create accounts for your participants, so they don't even need to take a moment to create 
           | their own! This tool can help you dynamically add and remove participants from your study as well!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#participants-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/class01_imac2013_front.png")

  // Collect Section
  section#collect.overview-section
    .container
      .row
        .col-lg-12
          h1 Collect Data
      .row
        .col-lg-12
          p.lead
            | Now that your surveys have launched, your participants can easily view/take your surveys on their android or iOS 
            | device. You can even take a moment and view their collection as they progress!
      .row
        .col-md-6.col-xs-6
         .carousel.slide#collect-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/survey9_nexus4_portrait.png")      
        .col-md-6.col-xs-6
         .carousel.slide#collect2-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/survey3_iphone_white_portrait.png")   

  // Questions Section
  section#data.overview-section
    .container
      .row
        .col-lg-12
          h1 Visualize/Analyze Data
      .row
        .col-lg-12
          p.lead
            | During data collection, or after collection is finished you (and your participants) can visualize and analyze the 
            | collected data.  ohmage provides tools for all levels of statistical prowess, so analysis can be done quickly no 
            | matter your experience level!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#data-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/viz01_imac2013_front.png")

  // Getting Started Section
  section#started.getting-started-section
    .container
      .row
        .col-lg-12
          h1 Get Started Now!
      .row
        .col-lg-12
          p.lead
           | If you're ready to get started, create an account on the free sandbox provided by our partners at Mobilize. Browse around 
           | and even participate in existing example projects to see how easy it is!
          br
          a(href="https://edu.ohmage.org/#web" target="_blank")
            button(type="button" class="btn btn-primary btn-lg") Create an account now!
  
  // Contact Section
  section#about.overview-section
   .container
    .row
     .col-lg-12
       h1 Contact Us
    .row
     .col-lg-12
       p.lead If you need some help, feel free to contact us via e-mail, support@ohmage.org. ohmage is proud to have a wide-ranging list of
         |  both past and present contributors.  The full list is below!
    .row
     .col-lg-12(style="text-align:left;")
        li
          h4 Technology Co-PIs
          p Deborah Estrin, Mark Hansen, Nithya Ramanathan, Joshua Selsky, Hongsuda Tangmunarunkit, Rose Rocchio, Ed Sakabu
        li
          h4 Application/Domain Expert Faculty/PIs (Health Science)
          p Robert Bilder, Jacqueline Casillas, Scott Comulada, Patricia Ganz, Mary Jane Rotheram-Borus, Ida Sim (UCSF), Fred Sabb, Dallas Swendeman, Michael Swiernik
        li 
          h4 Staff
          p Betta Dawson, John Jenkins, Cameron Ketcham, Steve Nolen, Vinh Pham, Catherine Trance, Wren Reynolds
        li
          h4 Graduate Students
          p Faisal Alquaddoomi, Hossein Falaki, Brent Longstaff, Andy Hsieh, Jinha Khang, Donnie Kim, Min Mun, Katie Shilton, Eric Wang
        li
          h4 Sponsors and Partners/Collaborators
           h5 Cornell
           p Cornell Tech, WMC CHiP
           h5 UCLA
           p CENS, GCFC, CHIPTS, Health Sciences, JCCC, Statistics, Office of Information Technology
           h5 Federal Funding
           p NSF STC (NSF Award #0962919) and CISE (Cooperative Agreement #CCF-0120778), NIH
           h5 Corporate Funding
           p Google, Intel iSTC; MSR, Nokia, T-Mobile
           h5 Foundations/NGOs
           p RWJF, CHCF, CRA

include ./includes/foot.jade