doctype html(lang='en')
head
include ./includes/head.jade

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  include ./includes/navbar.jade

  // Intro Section
  section#intro.intro-section
    .container
      .row
        .col-lg-12
          h1 ohmage
      .row
        .col-lg-12
          img(src="/img/large-logo.png" height="200px")
      .row
        .col-lg-12 
          br                
          p.lead an open data collection platform.
          br
          br
      .row
        .col-md-3.col-xs-6
          a.page-scroll(href="#questions" data-target="#questions")
           i.fa.fa-pencil.fa-5x.green
          h4.text-center create questions
        .col-md-3.col-xs-6
          a.page-scroll(href="#participants" data-target="#participants")
           i.fa.fa-group.fa-5x.blue
          h4.text-center get participants
        .col-md-3.col-xs-6
          a.page-scroll(href="#collect" data-target="#collect")
           i.fa.fa-mobile.fa-5x.orange
          h4.text-center collect data
        .col-md-3.col-xs-6
          a.page-scroll(href="#data" data-target="#data")
           i.fa.fa-bar-chart.fa-5x.red
          h4.text-center visualize/analyze data

  // Questions Section
  section#questions.overview-section
    .container
      .row
        .col-lg-12
          h1 Create Questions
      .row
        .col-lg-12
          p.lead
           | Quickly create sets of surveys to ask your participants. The ohmage platform was built for mobile collection 
           | so it supports simple responses as well as responses with images, video and audio.  Surveys can even be completed 
           | while your participants are offline and uploaded later!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#questions-carousel(data-ride="carousel" data-interval="false")
           ol.carousel-indicators
             li(data-slide-to="0" data-target="#questions-carousel").active
             li(data-slide-to="1" data-target="#questions-carousel")
             li(data-slide-to="2" data-target="#questions-carousel")
             li(data-slide-to="3" data-target="#questions-carousel")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/questions1.png")
             .item
               img(src="img/questions2.png")
             .item
               img(src="img/questions3.png")
             .item
               img(src="img/questions4.png")
           a.left.carousel-control(href="#questions-carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous    
           a.right.carousel-control(href="#questions-carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next      

  // Participants Section
  section#participants.overview-section
    .container
      .row
        .col-lg-12
          h1 Define a Participant group
      .row
        .col-lg-12
          p.lead
           | Use our provided tool to create accounts for your participants, so they don't even need to take a moment to create 
           | their own! This tool can help you dynamically add and remove participants from your study as well!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#participants-carousel(data-ride="carousel" data-interval="false")
           ol.carousel-indicators
             li(data-slide-to="0" data-target="#participants-carousel").active
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/participants1.png")

  // Collect Section
  section#collect.overview-section
    .container
      .row
        .col-lg-12
          h1 Collect Data
      .row
        .col-lg-12
          p.lead
            | Now that your surveys have launched, your participants can easily view/take your surveys on their android or iOS 
            | device. You can even take a moment and view their collection as they progress!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#collect-carousel(data-ride="carousel" data-interval="false")
           ol.carousel-indicators
             li(data-slide-to="0" data-target="#collect-carousel")
             li(data-slide-to="1" data-target="#collect-carousel")
             li(data-slide-to="2" data-target="#collect-carousel")
             li(data-slide-to="3" data-target="#collect-carousel").active
           .carousel-inner(role="listbox")
             .item
               img(src="img/collect1.png")
             .item
               img(src="img/collect2.png")
             .item
               img(src="img/collect3.png")
             .item.active
               img(src="img/collect4.png")           
           a.left.carousel-control(href="#collect-carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous    
           a.right.carousel-control(href="#collect-carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next  

  // Questions Section
  section#data.overview-section
    .container
      .row
        .col-lg-12
          h1 Visualize/Analyze Data
      .row
        .col-lg-12
          p.lead
            | During data collection, or after collection is finished you (and your participants) can visualize and analyze the 
            | collected data.  ohmage provides tools for all levels of statistical prowess, so analysis can be done quickly no 
            | matter your experience level!
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#data-carousel(data-ride="carousel" data-interval="false")
           ol.carousel-indicators
             li(data-slide-to="0" data-target="#data-carousel").active
             li(data-slide-to="1" data-target="#data-carousel")
             li(data-slide-to="2" data-target="#data-carousel")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/data1.png")
             .item
               img(src="img/data2.png")
             .item
               img(src="img/data3.png")
           a.left.carousel-control(href="#data-carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous    
           a.right.carousel-control(href="#data-carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next

  // Getting Started Section
  section#started.overview-section
    .container
      .row
        .col-lg-12
          h1 Get Started Now!
      .row
        .col-lg-12
          p.lead
           | If you're ready to get started, create an account on the free sandbox provided by our partners at Mobilize. Browse around 
           | and even participate in existing example projects to see how easy it is!
          br
          a(href="https://edu.ohmage.org/#web" target="_blank")
            button(type="button" class="btn btn-primary btn-lg") Create an account now!
  
  // Contact Section
  section#contact.overview-section
   .container
    .row
     .col-lg-12
       h1 Contact Us
    .row
     .col-lg-12
       p some way to contact us

include ./includes/foot.jade