doctype html(lang='en')
head
include ./includes/head.jade

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  include ./includes/navbar.jade

  // Intro Section
  section#intro.intro-section
    .container
      .row
        .col-lg-12
          h1 ohmage
      .row
        .col-lg-12
          img(src="img/large-logo.png" height="200px")
      .row
        .col-lg-12 
          br                
          p.lead an open mobile data collection platform.
          br
      .row
        .col-md-3.col-xs-6
          a.page-scroll(href="#questions" data-target="#questions")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-pencil.fa-stack-1x.green
          h4.text-center create questions
        .col-md-3.col-xs-6
          a.page-scroll(href="#participants" data-target="#participants")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-group.fa-stack-1x.blue
          h4.text-center get participants
        .col-md-3.col-xs-6
          a.page-scroll(href="#collect" data-target="#collect")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-mobile.fa-stack-1x.orange
          h4.text-center collect data
        .col-md-3.col-xs-6
          a.page-scroll(href="#data" data-target="#data")
           span.fa-stack.fa-5x
            i.fa.fa-circle.fa-stack-2x.fa-inverse
            i.fa.fa-bar-chart.fa-stack-1x.red
          h4.text-center visualize/analyze data

  // Questions Section
  section#questions.overview-section
    .container
      .row
        .col-lg-12
          h1 Create Questions
      .row
        .col-lg-12
          p.lead
           | Quickly create sets of surveys to ask your participants. The ohmage platform was built for mobile data collection.
           | It supports simple responses like multi-choice, text and numerical as well as responses with images, video and audio.  
           | User responses can automatically include passive data like the GPS location and time that the responses were taken.
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#questions-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/main/author_imac.png")  


  // Participants Section
  section#participants.overview-section
    .container
      .row
        .col-lg-12
          h1 Get Participants
      .row
        .col-lg-12
          p.lead
           | Use our tool to create accounts and define a group for your participants. 
           | This tool can help you dynamically add and remove participants from your study as well! 
           | Parctipants can also create their own accounts, if that's preferred.
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#participants-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/main/class_imac.png")

  // Collect Section
  section#collect.overview-section
    .container
      .row
        .col-lg-12
          h1 Collect Data
      .row
        .col-lg-12
          p.lead
            | After you have launched your surveys, your participants can easily download your surveys on their android or iOS 
            | device and start participating. Surveys can even be completed while your participants are offline and uploaded later!
            | You can even monitor their collection activities as they progress.
      .row
        .col-md-6.col-xs-6
         .carousel.slide#collect-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               a(href="https://play.google.com/store/apps/details?id=org.ohmage.app")
                 img(src="img/main/survey_nexus4.png")
        .col-md-6.col-xs-6
         .carousel.slide#collect2-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               a(href="https://itunes.apple.com/us/app/ohmagex/id980069961?mt=8")
                 img(src="img/main/survey_iphone.png")  
      .row
        .col-md-6.col-xs-6
          a(href="https://play.google.com/store/apps/details?id=org.ohmage.app")
            img(src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" alt="Android app on Google Play")
        .col-md-6.col-xs-6
          a(href="https://itunes.apple.com/us/app/ohmagex/id980069961?mt=8")
            img(src="img/main/app_store.svg" alt="iOS ohmageX app on App Store") 

  // Questions Section
  section#data.overview-section
    .container
      .row
        .col-lg-12
          h1 Visualize/Analyze Data
      .row
        .col-lg-12
          p.lead
            | You (and your participants) can visualize and analyze the collected data any time.
            | ohmage provides different interactive tools (i.e. Interactive Dashboard and PlotApp) for you to explore your data. You can also
            | easily export the data for your own statistical analysis.
      .row
        .col-md-6.col-md-offset-3
         .carousel.slide#data-carousel(data-ride="carousel" data-interval="false")
           .carousel-inner(role="listbox")
             .item.active
               img(src="img/main/viz_imac.png")

  // Getting Started Section
  section#started.getting-started-section
    .container
      .row
        .col-lg-12
          h1 Get Started Now!
      .row
        .col-lg-12
          p.lead
           | If you're ready to get started, create an account on the 
           b free
           |  sandbox provided by the NSF-funded UCLA-LAUSD  
           a(href="http://mobilizingcs.org") Mobilize 
           | project.
           | Browse around
           | and even participate in existing example projects to see how easy it is!
          br
          a(href="https://sandbox.mobilizingcs.org/#web" target="_blank")
            button(type="button" class="btn btn-primary btn-lg") Create an account now!
  
  // Contact Section
  section#about.overview-section
   .container
    .row
     .col-lg-12
       h1 About Us
    .row
     .col-lg-12
       p.lead If you need some help, feel free to contact us via e-mail, support@ohmage.org. ohmage is proud to have a wide-ranging list of
         |  both past and present contributors.  The full list is below!
    br
    br
    .row
     .col-lg-12(style="text-align:left;")
        ul
          li
            h4 Technology Co-PIs
            p Deborah Estrin, Mark Hansen, Rose Rocchio, Ed Sakabu, Hongsuda Tangmunarunkit, Joshua Selsky
          li
            h4 Application/Domain Expert Faculty/PIs (Health Science)
            p Robert Bilder, Jacqueline Casillas, Scott Comulada, Patricia Ganz, Mary Jane Rotheram-Borus, Ida Sim (UCSF), Fred Sabb, Dallas Swendeman, Michael Swiernik, Robert Gould
          li 
            h4 Staff
            p Steve Nolen, Jeroen Ooms, Vinh Pham, Wren Ranolds, Cathy Trance
          li
            h4 Past Contributors
            p Faisal Alquaddoomi, Betta Dawson, Hossein Falaki, Valerie Hajdik, Andy Hsieh, John Jenkins, Cameron Ketcham, Zorayr Khalapyan, Jinha Khang, Donnie Kim, Brent Longstaff, Min Mun, Tai Pham, Katie Shilton, Eric Wang
          li
            h4 Sponsors and Partners/Collaborators
              h5 UCLA
              p CENS, GCFC, CHIPTS, Health Sciences, JCCC, Statistics, Office of Information Technology
              h5 Cornell
              p Cornell Tech, WMC CHiP
              h5 Federal Funding
              p NSF STC 
                a(href="http://mobilizingcs.org" target="_blank") Mobilize Project
                |  (NSF Award #0962919) and CISE (Cooperative Agreement #CCF-0120778), NIH
              h5 Corporate Funding
              p Google, Intel iSTC; MSR, Nokia, T-Mobile
              h5 Foundations/NGOs
              p RWJF, CHCF, CRA

include ./includes/foot.jade