doctype html(lang='en')
head
include ./includes/head.jade
include ./mixins/list.jade

body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  include ./includes/navbar.jade

  // Studies Section
  section#studies.overview-section
    .container
      .row
        .col-lg-12
          h1 Existing/Past Studies
      .row
        .col-lg-12
          p.lead
           | ohmage has been used primarily for research in the education and medical fields.  Below are some recent studies that have made use of ohmage for their projects!
      .row
       .col-lg-12(style="text-align:left;")
        +list("studies.json")
  
  // 
  //section#papers.overview-section
  //  .container
  //    .row
  //      .col-lg-12
  //        h1 Research Publications
  //    .row
  //      .col-lg-12
  //        p.lead
  //         | Here is a list of publications that are about the ohmage suite itself, or that used ohmage as a research tool.
  //    .row
  //     .col-lg-12(style="text-align:left;")
  //      +list("papers.json")

include ./includes/foot.jade